###
# Unity folders and files
###
Gaming Coursework/[Aa]ssets/AssetStoreTools*
Gaming Coursework/[Bb]uild/
Gaming Coursework/[Ll]ibrary/
Gaming Coursework/[Ll]ocal[Cc]ache/
Gaming Coursework/[Oo]bj/
Gaming Coursework/[Tt]emp/
Gaming Coursework/[Uu]nityGenerated/
Gaming Coursework/[Aa]ssets/UnityAssets/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
